# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tracaparapheur
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe

# Serveur
PORT=3001

# JWT
JWT_SECRET=votre_cle_secrete_jwt_tres_longue_et_aleatoire
JWT_EXPIRES_IN=7d

# Environnement
NODE_ENV=development
